
/*Tom DAUCH 1ère1*/

h1 {
    font-size: 40px; 
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #facc15, #84cc16); 
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


a {
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #84cc16, #facc15);
    font-family: Verdana, sans-serif;
    padding: 10px 20px;
    margin: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

b {
  display: inline-block;
  font-size: 1px;
  color: transparent;

  
  background: linear-gradient(to right, #84cc16, #facc15);

 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

 
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 25px;
}

h2 {
    font-size: 20px; 
    
    font-family: Verdana, sans-serif;
    text-align: left;
    background: linear-gradient(to right, #facc15, #84cc16);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: black;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
    
    
}
p {
    font-size: 15px; 
    
    font-family: Verdana, sans-serif;
    text-align: left;
    background: linear-gradient(to right, #0a3f0a, #41400b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
    
}

a:hover {
    background: linear-gradient(to right, #65a30d, #eab308);
    color: #fefce8;
    transform: translateY(-3px);
}









